*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* COLORS */
:root {
  --black: #333338;
  --gray: #b8b9be;
  --light-gray: #d1d9e6;
  --background-base: #e6e7ee;
  --white: #fff;
}

body {
  margin: 0;
  background-color: var(--background-base);
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  font-weight: 100;
  line-height: 1.2;
  color: var(--black);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* NAVIGATION */

.navigation {
  display: flex;
  margin: 20px 0 200px;
}

.navigation__list {
  display: flex;
  list-style: none;
}

.navigation__item {
  width: 70px;
  margin: 0 10px;
  padding: 10px;
  transition: all 0.2s ease;
  border: 0.5px solid var(--background-base);
  box-shadow: 3px 3px 6px var(--gray), -3px -3px 6px var(--white);
  border-radius: 0.55rem;
}

.navigation__item:hover {
  border: 0.5px solid var(--background-base);
  box-shadow: inset 2px 2px 5px var(--gray), inset -3px -3px 7px var(--white);
}

.navigation__link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--black);
}

/* PROFILE */

.profile {
  height: 25rem;
  width: 20rem;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 20px 60px;
  border-radius: 0.55rem;
  position: relative;
  border: 0.5px solid var(--background-base);
  box-shadow: 6px 6px 12px var(--gray), -6px -6px 12px var(--white);
  background-color: var(--background-base);
}

.profile__photo-wrapper {
  position: absolute;
  top: -80px;
  width: 8rem;
  height: 8rem;
  border-radius: 0.55rem;
  padding: 1rem;
  border: 0.5px solid var(--background-base);
  box-shadow: inset 2px 2px 5px var(--gray), inset -3px -3px 7px var(--white);
  background-color: var(--background-base);
}

.profile__photo {
  border-radius: 0.55rem;
}

.profile__info {
  margin: 90px 0 60px;
  text-align: center;
}

.profile__name {
  margin-bottom: 15px;
}

.profile__icons {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
}

.profile__icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.2s ease;
  /*border: 0.5px solid var(--light-gray);*/
  box-shadow: 3px 3px 6px var(--gray), -3px -3px 6px var(--white);
}

.profile__icon--light-blue {
  border: 0.5px solid #1d84e2;
}

.profile__icon--dark-blue {
  border: 0.5px solid #5163e4;
}

.profile__icon--black {
  border: 0.5px solid #000000;
}

.profile__icon:hover {
  border: 0.5px solid var(--background-base);
  box-shadow: inset 2px 2px 5px var(--gray), inset -3px -3px 7px var(--white);
}

/* ABOUT */

.about {
  width: 500px;
  padding: 20px;
  margin-bottom: 100px;
}

.about__title {
  text-align: center;
  margin-bottom: 30px;
}

.about__text {
  text-align: center;
  margin-top: 20px;
}

/* SKILLS */

.skills {
  width: 990px;
  padding: 30px;
  margin-bottom: 100px;
}

.skills__title {
  text-align: center;
  margin-bottom: 30px;
}

.skills__subtitle {
  margin: 10px;
}

.skills__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.2s ease;
  /*border: 0.5px solid var(--light-gray);*/
  box-shadow: 3px 3px 6px var(--gray), -3px -3px 6px var(--white);
}

.skills__icon--blue {
  border: 0.5px solid #0100ff;
}

.skills__icon--red {
  border: 0.5px solid #f51d0a;
}

.skills__icon--green {
  border: 0.5px solid #17e868;
}

.skills__icon--yellow {
  border: 0.5px solid #e9eb00;
}

.skills__icon--purple {
  border: 0.5px solid #9200ff;
}

.skills__icon--orange {
  border: 0.5px solid #fe9701;
}

.skills__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 16px;
}

.skills__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* PROGRESS BAR */

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 12px;
}

progress[value]::-webkit-progress-bar {
  border-radius: 10px;
  background-color: var(--background-base);
  border: 0.5px solid var(--background-base);
  box-shadow: inset 5px 5px 9px #c8c9cf, inset -5px -5px 9px #ffffff;
}

progress[value]::-webkit-progress-value {
  border-radius: 10px;
}

.skills__graph {
  margin: 10px 0 20px;
}

.skills__graph--blue progress[value]::-webkit-progress-value {
  background-color: #0100ff;
}

.skills__graph--orange progress[value]::-webkit-progress-value {
  background-color: #fe9701;
}

.skills__graph--yellow progress[value]::-webkit-progress-value {
  background-color: #e9eb00;
}

.skills__graph--purple progress[value]::-webkit-progress-value {
  background-color: #9200ff;
}

.skills__graph--red progress[value]::-webkit-progress-value {
  background-color: #f51d0a;
}

.skills__graph--green progress[value]::-webkit-progress-value {
  background-color: #17e868;
}

/* PROJECTS */

.projects {
  width: 500px;
  padding: 20px;
  margin-bottom: 100px;
}

.projects__title {
  text-align: center;
  margin-bottom: 30px;
}

.projects__cards {
  display: flex;
  justify-content: center;
}

.projects__card {
  padding: 35px 25px;
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 270px;
  margin: 0 16px;
  border-radius: 0.55rem;
  background-color: var(--background-base);
  border: 0.5px solid var(--background-base);
  box-shadow: 3px 3px 6px var(--gray), -3px -3px 6px var(--white);
}

.projects__image-wrapper {
  width: 100%;
  margin-bottom: 20px;
}

.projects__image {
  border-radius: 0.55rem;
}

.projects__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects__text {
  margin-bottom: 45px;
}

.projects__link-btn {
  margin-bottom: 10px;
}

.projects__link {
  cursor: pointer;
  color: var(--black);
  text-decoration: none;
  padding: 10px;
  border-radius: 0.55rem;
  transition: all 0.2s ease;
  background-color: var(--background-base);
  border: 0.5px solid var(--background-base);
  box-shadow: 3px 3px 6px var(--gray), -3px -3px 6px var(--white);
}

.projects__link:hover {
  border: 0.5px solid var(--background-base);
  box-shadow: inset 2px 2px 5px var(--gray), inset -3px -3px 7px var(--white);
}

/* REFERENCE */

.reference {
  width: 500px;
  padding: 20px;
  margin-bottom: 100px;
}

.reference__title {
  text-align: center;
  margin-bottom: 30px;
}

/* CONTACT */

.contact {
  width: 500px;
  padding: 20px;
  margin-bottom: 100px;
}

.contact__title {
  text-align: center;
  margin-bottom: 30px;
}

.contact__address {
  text-align: center;
}

/* FOOTER */

.footer {
  padding: 30px 0;
}
